{
  "request_id": "dbcbc07e-c0db-6d49-47b8-071f0e64b243", 
  "lease_id": "aws/creds/vault-s3reader-with-federation-token/VtE4iB93scIJnMecYGQ6Pq50", 
  "renewable": false, 
  "lease_duration": 847, 
  "data": {
    "access_key": "ASIA43N3NPLEBDNZS3ON", 
    "secret_key": "EyT7obwn89BkSG6KdtdQm+HEiG/xszV69px5QndY", 
    "security_token": "FwoGZXIvYXdzEGEaDIVvgu5iUHdIW70hnCLbAUge+39TQzRix9/dcb74Zkf4gCLCCHooWymfZ3UYf+3FnEbLjeUOQu0Z/lZc9DKUJqwe/oEEX04I5A6NC12MwEmBzUn9UyqH3BjxpTn+fKmBX9sULo41OMiLnGgPmn59R0uataSUO6GR4NTs9fPH+jfyxffogsl+KEOhaUU/X9NypJByFbo7xyZ6jJACL3+cX/hllqfD0tcwz1pYAm9EB88DTPRHTr4Q0zco8JCoH92i2jnJq+5oeUivjWFU1WS39LVbztckbR4ndVqewVnw1u25FZ9FSP+yW4K34SiXoq2FBjIpN2pRJxNE3dzVJaumECoIqREyYUdji/1xBsFLTPuF3CJhB6WaIs+l+do="
  }, 
  "wrap_info": null, 
  "warnings": null, 
  "auth": null
}
